<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modelo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Modelo.Properties.Settings>
            <setting name="Modelo_StampSOAP_StampSOAP" serializeAs="String">
                <value>https://facturacion.finkok.com/servicios/soap/stamp</value>
            </setting>
        </Modelo.Properties.Settings>
    </applicationSettings>
</configuration>