<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vendo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Tutorial5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <add key="PROVEEDOR_ADONET" value="MySql.Data.MySqlClient" />

    <!-- PRUEBAS   -->
    <add key="CADENA_CONEXION" value="Server = 72.249.55.31; Database = drimexic_eosvendo ; User Id = drimexic_user; Password = puntoDeV3nta;"/>

    <add key="VERSION" value="2.0"/>
    <add key="NOTA" value="http://www.eostechnology.com.mx/factura/nota.php?idventa=" />
    <add key="rutafactura" value="http://www.eostechnology.com.mx/factura/facturafiscal.php?idventa=" />
    <add key="presupuesto" value="http://www.eostechnology.com.mx/factura/presupuesto.php?idventa=" />
    <add key="rutaCer" value="C:\certificadodepruebas\ACO560518KW7-20001000000300005692.cer"/>
    <add key="rutaKey" value="C:\certificadodepruebas\ACO560518KW7-20001000000300005692.key"/>
    <add key="rutaXML" value="C:\certificadodepruebas\"/>
    <add key="keypass" value="12345678a"/>
    <add key="rfcEmisor" value="ACO560518KW7"/>
    <add key="LugarExpedicion" value="50200"/>
    <add key="noCertificado" value="20001000000300005692"/>
    <add key="usoCFDI" value="G03"/>
    <add key="RegimenFiscal" value="612"/>
    <add key="Empresa" value="DRI"/>


    <add key="mail" value="drimexico@gmail.com"/>
    <add key="psw" value="drimexico2017"/>
    
    
    <add key="userFinkok" value="i9lm9r9z@gmail.com"/>
    <add key="pswFinkok" value="Mostro2015."/>
    
   <!-- PRODUCCION 
    <add key="CADENA_CONEXION" value="Server = 72.249.55.31; Database = drimexic_pventa ; User Id = drimexic_user; Password = puntoDeV3nta;"/>

    <add key="VERSION" value="2.0"/>
    <add key="NOTA" value="http://www.eostechnology.com.mx/factura/nota.php?idventa=" />
    <add key="rutafactura" value="http://www.eostechnology.com.mx/factura/facturafiscal.php?idventa=" />
    <add key="pres upuesto" value="http://www.eostechnology.com.mx/factura/presupuesto.php?idventa=" />
    <add key="rutaCer" value="C:\certificadodepruebas\00001000000404149049.cer"/>
    <add key="rutaKey" value="C:\certificadodepruebas\CSD_SALUD_MOAS690418F2A_20161105_102624.key"/>
    <add key="rutaXML" value="C:\certificadodepruebas\"/>
    <add key="keypass" value="SALUD2010"/>
    <add key="rfcEmisor" value="MOAS690418F2A"/>
    <add key="LugarExpedicion" value="50200"/>
    <add key="noCertificado" value="00001000000404149049"/>
    <add key="usoCFDI" value="G03"/>
    <add key="RegimenFiscal" value="612"/>
    <add key="Empresa" value="SALUD MONDRAGÓN ALEJANDRE"/>
  
    <add key="mail" value="drimexico@gmail.com"/>
    <add key="psw" value="drimexico2017"/>
  
    <add key="userFinkok" value="contacto@drimexico.com.mx"/>
    <add key="pswFinkok" value="Dri_2017$"/> --> 
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Vendo.Properties.Settings>
      <setting name="Tutorial5_Cancelacion_CancelSOAP" serializeAs="String">
        <value>https://facturacion.finkok.com/servicios/soap/cancel</value>
      </setting>
      <setting name="Vendo_StampSOAP_StampSOAP" serializeAs="String">
        <value>https://facturacion.finkok.com/servicios/soap/stamp</value>
      </setting>
    </Vendo.Properties.Settings>
    <Tutorial5.Properties.Settings>
      <setting name="Tutorial5_StamSOAP_StampSOAP" serializeAs="String">
        <value>https://demo-facturacion.finkok.com/servicios/soap/stamp</value>
      </setting>
      <setting name="Tutorial5_Cancelacion_CancelSOAP" serializeAs="String">
        <value>https://demo-facturacion.finkok.com/servicios/soap/cancel</value>
      </setting>
    </Tutorial5.Properties.Settings>
  </applicationSettings>
</configuration>